<main class="lists-container">
    <h1>Welcome first_name</h1>
    <section class="list-description">
        <p>To get started fulfilling wishes, select a friends list below. <br>No wishes to fulfil? Remind your friend to add you to their wishlists. <br>And while you're waiting, how about making a few wishes of your own?</p>
    </section>
    <section class="lists">
        <div id="my-lists">
            <h2>My Lists</h2>
            <form action="/new-list" method="POST">
                <input type="text" value="New List Title">
                <button>Create</button>
            </form>
            <div id="my-list-results">
                <p>Test Wishlist 1</p> <%# comment this one out when ready%>
                <button>edit</button> <%# comment this one out when ready%>
                <button>delete</button> <%# comment this one out when ready%>
            </div>
        </div>
        <div id="friends-lists">
            <h2>Friends Lists</h2>
            <form action="/search"></form>
            <input type="text" value="Search Friends">
            <button>Search</button>
        </div>
    </section>
</main>