<h2>Friends</h2>


<header>
        <ul class="no-bullets">
            <li>
                <form action="/main" method="GET">
                    <input type="hidden">
                    <button>Home</button>
                </form>
            </li>
            <%# <li> #CREATE A EDIT USER PAGE... with another views folder... sigh
                <form action="/user">
                    <input type="hidden">
                    <button>My Details</button>
                </form>
            </li> %>
            <li>
                <form action="/friends" method="GET">
                    <input type="hidden">
                    <button>Friends</button>
                </form>
            </li>
            <li>
                <form action="/logout" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button>Logout</button>
                </form>
            </li>
        </ul>
</header>

<form action="add_friend" method="POST">
    <label for="friends_email">Please enter your friends e-mail to add them!
        <input type="text" placeholder="Your friends e-mail?" name="friends_email">
    </label>
    <button>Add Friend</button>
</form>

<ul>
    <% friends.each do |friend| %>
        <li>
            <%=friend['friends_email']%>
            <form action="/remove-friend" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="friends_email" value="<%=friend['friends_email']%>">
                <button>Remove Friend</button>
            </form>
        </li>

    <% end %>
</ul>
