body {
    background-color: rgb(0, 0, 74);
    text-align: center;
}

.content {
    display: grid;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: rgb(255, 233, 201);
    border-radius: 10px;
}

.description {
    background-color: rgba(95, 158, 160, 0.736);
    grid-template-columns: 1;
    margin-right: 5px;
    border-radius: 10px;
}


.sign-up {
    background-color: rgba(95, 158, 160, 0.736);
    grid-template-columns: 2;
    margin-left: 5px;
    border-radius: 10px;
}

h1 {
    color: rgb(255, 233, 201);
}

h2 {
    color: rgb(255, 233, 201);
}

.login {
    background-color: rgba(95, 158, 160, 0.736);
    color: rgb(255, 233, 201);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

footer {
    color: rgb(255, 233, 201);
    margin-top: 20px;
}

.list-description {
    background-color: rgba(95, 158, 160, 0.736);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    }

#friends-lists-description {
    grid-column: 2;
    margin-left: 10px;
    border-radius: 10px;
}

.lists {
    background-color: rgba(95, 158, 160, 0.736);
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

#my-lists {
    grid-column: 1;
    margin-right: 10px;
    display: inline-grid;
}

#my-list-results {
    grid-template-columns: 70% 15% 15%;
}

#friends-lists {
    grid-column: 2;
    margin-left: 10px;
    display: inline-grid;
}